<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>index page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
   <h3 th:text="${project.name} + ' (' + ${project.key} + ')'">project name</h3>
   <form method="post" th:object="${spec}">
     <div class="row">
       <div class="small-1 columns">
         <label>text</label>
       </div>
       <div class="small-11 columns">
         <input th:field="${spec.text}" class="small-12" />
       </div>
     </div>
     <div class="row">
       <div class="small-1 columns">
         <label>&nbsp;</label>
       </div>
       <div class="small-1 columns">
         <button type="submit" class="button">save</button>
       </div>
       <div class="small-10 columns">
         <button type="button" class="button">new version</button>
       </div>
     </div>
   </form>
</body>
</html>